.Sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem;
    transition: all 300ms ease;
}
.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.menuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 12px;
    border-radius: 0.7rem;

}
.menuItem:hover{
    cursor: pointer;
    color: seagreen;
}
.active{
    color: rgb(34, 213, 24);
    margin-left: 0;
}
.active::before{
    content: '';
    width: 8px;
    height: 100%;
    color: bisque;
    background-color: #f0f8ff;
}
.box1 {
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(12, 12, 12);
    opacity: .5;
    height: 100px;
    width: 160px;
    font-size: small;
    /* padding-left: 10px;
    padding-right: 10px; */
}