@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
.App {
  background: linear-gradient(
    106.37deg,
    #e4e5e7 26.63%,
    #e4e5e7 51.55%,
    #e4e5e7 90.85%,
  );
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Appitem{
  grid-template-rows: 7rem auto;
  display: grid;
  height: 50%;
  width:100%;
  border-radius: 2rem;
  background-color: rgb(205, 216, 218);
  overflow: hidden;
  gap: 10px;
}
.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: rgb(205, 216, 218);
  overflow: hidden;
  grid-template-columns: 11rem auto;
  gap: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cardview{
  background-color: white;

  padding-left: 40px;
  gap: 10px;
  
}

